<h1>Profile Page for: <%= current_user.email %></h1>
<p> user_id = <%= current_user.id %> </p>

<h2>Add New Friend Circle</h2>
<form action="<%= user_friend_circles_url(@user) %>" method="post">
  <%= auth %>

  <label>Enter Friend Circle Name: <input type="text" name="friend_circle[name]"></label>

  <% User.all.each do |user| %>
    <%next if user == current_user %>
    <% html_id = "user_friend_id_#{user.id}" %>
    <p><input type="checkbox"
            name="friend_circle[friends][]"
            value="<%= user.id %>"
            id="<%= html_id %>">
    <label for="<%= html_id %>">
      <%= user.email %>
    </label></p>

  <% end %>


  <input type="submit" value="Create Circle">
</form>

<%= render @friend_circles %>

<h2>POSTS:</h2>

<h2>Add New Post</h2>
<form action="<%= posts_url %>" method="post">
  <%= auth %>

  <input type="hidden" name="post[author_id]" value="<%= current_user.id %>">

  <label>Body:
    <textarea name="post[body]"></textarea>
  </label>

  <% @post.links.each_with_index do |link, i| %>
    <p><label>
          Link <%= i+1 %><input type="text" name="link[<%=i%>][url]">
       </label>
    </p>
  <% end %>

  <p><label>Which circles would you like to share this post with?
    <% @friend_circles.each_with_index do |circle, i| %>
      <p><label>
            <%= circle.name %><input type="checkbox" name="post_share[<%=i%>][circle_id]" value="<%=circle.id%>">
         </label>
      </p>
    <% end %>
  </label></p>

  <input type="submit" value="Create Post">
</form>


<%= render @posts %>