<!DOCTYPE html>
<html>
<head>
  <title>SocialThing</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= debug params %>

  <% if flash[:notice] %>
    <% flash[:notice].each do |notice| %>
   <p> <%= notice %> </p>
    <%end%>
  <%end%>

  <% if current_user.nil? %>
    <p> <%= link_to "Sign In", login_url %></p>
  <% else %>
    <p>Signed in as: <%= current_user.email %> </p>
    <p> <%= button_to "Sign Out", signout_url, method: "delete" %></p>
  <% end %>

<%= yield %>

</body>
</html>
